

.box{
    width: 300px;
    height: 100px;
    background: #61dafb;
    position: relative;
}
.l-box{
    width: 50px;
    height: 100px;
    background: #282c34;
    position: absolute;
}
.r-box{
    margin-left: 50px;
    background: bisque;
    height: 100px;
}
