

.box{
    width: 300px;
    height: 100px;
    background: #61dafb;
    position: relative;
}
.l-box{
    width: 50px;
    height: 100px;
    background: #282c34;
    position: absolute;
}
.r-box{
    margin-left: 50px;
    background: bisque;
    height: 100px;
}
.scrollbox1{
    width: 180px;
    height: 200px;
    overflow-y: scroll;
    border:1px solid yellow;
}
.itemBox{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rebeccapurple;
}
